:root {
	--blue: #00b1d2;
}

.App {
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	width: 80vw;
}

/* Globals */
h1 {
	font-size: 50px;
	display: block;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	font-weight: bold;
}
h2 {
	font-size: 35px;
	line-height: 25px;
}
h3 {
	font-size: 25px;
	line-height: 30px;
}
h4 {
	line-height: 17px;
}
button {
	background-color: var(--blue);
	border: none;
	border-radius: 15px;
	color: white;
	cursor: pointer;
	font-family: Aleo;
	font-size: 20px;
	font-weight: bold;
	outline: none;
}
.divider {
	background-color: var(--blue);
	height: 5px;
	width: 80px;
}

/* Header */
.header {
	align-items: center;
	background-color: white;
	display: flex;
	height: 90px;
	justify-content: space-between;
	left: 0;
	margin: auto;
	position: fixed;
	right: 0;
	width: 85vw;
	z-index: 500;
}
.logo {
	color: var(--blue);
	cursor: pointer;
}
.nav {
	display: flex;
	align-items: baseline;
}
.nav-item {
	cursor: pointer;
	margin-left: 30px;
}
.join-button {
	height: 40px;
	width: 80px;
}

/* Hero */
.hero-container {
	display: flex;
	height: calc(100vh - 150px);
	justify-content: space-between;
	left: 0;
	margin: auto;
	padding-top: 150px;
	right: 0;
	text-align: left;
	width: 100%;
}
.diffuse-button {
	background-color: var(--blue);
	color: white;
	height: 60px;
	width: 200px;
}
.hero-image {
	background-color: lightgray;
	border-radius: 25px;
	height: 500px;
	width: 230px;
}

/* Features */
.features-container {
	padding-top: 125px;
	padding-bottom: 200px;
}
.feature {
	align-items: center;
	display: flex;
	/* padding-bottom: 100px; */
}
.features-div {
	border-radius: 15px;
	height: min-content;
	padding: 50px;
	text-align: left;
	width: 50%;
}
.features-image-div {
	display: none;
	width: 50%;
}
.features-image {
	background-color: lightgray;
	height: 500px;
	width: 500px;
}

/* Join */
.join-container {
	background-color: var(--blue);
	border-radius: 15px;
	color: white;
	display: flex;
	flex-direction: column;
	height: 300px;
	justify-content: center;
	margin: auto;
	margin-top: 300px;
	margin-bottom: 300px;
	width: 60vw;
}
input {
	background-color: white;
	border: none;
	border-radius: 15px;
	color: black;
	font-family: Aleo;
	font-size: 20px;
	font-weight: bold;
	height: 40px;
	padding: 0 40px;
	outline: none;
	text-align: center;
}
input:focus::placeholder {
	color: transparent;
}
::placeholder {
	color: black;
	font-size: 17px;
}
.join-button-white {
	background-color: white;
	color: black;
	height: 40px;
	margin-left: 10px;
	width: 80px;
}

/* Footer */
.footer {
	height: 100px;
	padding-bottom: 30px;
}

/* Tablet/Mobile */
@media only screen and (max-width: 768px) {
	h1 {
		font-size: 35px;
	}
	h2 {
		font-size: 28px;
	}
	.App {
		width: 85vw;
	}
	.header {
		height: 70px;
		width: 85vw;
	}
	.nav-item {
		margin-left: 10px;
	}
	.hero-container {
		flex-direction: column;
		height: auto;
		padding-top: 125px;
		text-align: center;
	}
	.hero-text {
		text-align: left;
	}
	.diffuse-button {
		margin-bottom: 125px;
	}
	.features-container {
		padding-top: 125px;
	}
	.features-div {
		padding: 0;
		width: 100%;
	}
	.feature {
		padding-bottom: 125px;
	}

	.join-container {
		padding: 15px;
		margin: 200px 0;
		width: 75vw;
	}
	input {
		padding: 0 10px;
		margin-bottom: 10px;
	}
}
