.App {
  text-align: center;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
  line-height: 25px;
}

h3 {
  font-size: 25px;
}

/* Header */
.header {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  padding: 0 72px;
}

.logo {
  color: #00B1D2;
}

.nav {
  display: flex;
}

.nav-item {
  padding: 0 20px;
}


/* Hero */
.hero-container {
  margin: auto;
  margin-top: 100px;
  width: 72vw;
}